
    <script src="{{ config.ASSETS_ROOT }}/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="{{ config.ASSETS_ROOT }}/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="{{ config.ASSETS_ROOT }}/js/sidebarmenu.js"></script>
