<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">

            {% if current_user.is_authenticated %}
            <ul id="sidebarnav">
                <li> <a class="waves-effect waves-dark" href="/" aria-expanded="false"><i
                            class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/page-profile.html" aria-expanded="false"><i
                            class="mdi mdi-account-check"></i><span class="hide-menu">Profile</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/table-basic.html" aria-expanded="false"><i
                            class="mdi mdi-table"></i><span class="hide-menu">Basic Table</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/icon-material.html" aria-expanded="false"><i
                            class="mdi mdi-emoticon"></i><span class="hide-menu">Icons</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/map-google.html" aria-expanded="false"><i
                            class="mdi mdi-earth"></i><span class="hide-menu">Google Map</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/page-blank.html" aria-expanded="false"><i
                            class="mdi mdi-book-open-variant"></i><span class="hide-menu">Blank Page</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="/page-404.html" aria-expanded="false"><i
                            class="mdi mdi-help-circle"></i><span class="hide-menu">Error 404</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" href="{{ url_for('authentication_blueprint.logout') }}" aria-expanded="false"><i
                            class="mdi mdi-power"></i><span class="hide-menu">Logout</span></a>
                </li>
            </ul>
            {% endif %}

            <div class="text-center m-t-30">
                <a target="_blank"
                   href="https://appseed.us/admin-dashboards/flask-material-dashboard-wpx-pro"
                    class="btn waves-effect waves-light btn-warning hidden-md-down">
                    PRO Version
                </a>
            </div>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->

    <!-- Bottom points-->
    <div class="sidebar-footer">
        {% if current_user.is_authenticated %}
        <!-- item--><a href="/page-profile.html" class="link" data-toggle="tooltip" title="Settings"><i
                class="ti-settings"></i></a>
        <!-- item--><a href="/" class="link" data-toggle="tooltip" title="Email"><i
                class="mdi mdi-gmail"></i></a>
        <!-- item--><a href="{{ url_for('authentication_blueprint.logout') }}" class="link" data-toggle="tooltip" title="Logout"><i
                class="mdi mdi-power"></i></a> </div>
        {% endif %}                
    <!-- End Bottom points-->
</aside>

